@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><a href="https://localhost:44322/Hero/list">SUPAHEROZ</a></h1>
    <p class="lead">Superheroes project by Jacob Stilin.</p>
    <p> <img src="highly visible man.jpg" alt="Highly Visible Man" width="300" height="300"></p>
</div>

